@model IEnumerable<Acef.MVC.Models.DTO.RaisonDTO>

@{
    ViewData["Title"] = "Index";
}

<h1>Liste de les raisons de consultation</h1>

<p>
    <a asp-action="Create">Ajouter nouveau</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NomRaison)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NomRaison)
            </td>
            <td>
                @Html.ActionLink("Modifier", "Edit", new { id = item.ID }) |
                @Html.ActionLink("Détails", "Details", new { id = item.ID }) |
                @Html.ActionLink("Supprimer", "Delete", new { id = item.ID })
            </td>
        </tr>
}
    </tbody>
</table>
